snippet tag "tag" b
<${1:div}$2>$3</$1>
endsnippet

snippet tagm "tagm" b
<${1:div}$2>
	$3
</$1>
endsnippet

snippet di "div tag" b
<div$1>$2</div>
endsnippet

snippet dim "div tag multiline" b
<div$1>
	$2
</div>
endsnippet
